.section-home {
  background-color: #ececec;
  position: relative;
  align-items: start;
  justify-items: center;
  font-size: 14px;
  display: grid;
  row-gap: 10px;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto;
  grid-template-areas:
    "side-bar nav-bar"
    "side-bar outlet"
    "footer footer";
}
.outlet {
  display: flex;
  position: absolute;
  padding-top: 10px;
  flex-direction: column;
  justify-content: center;
}
.title {
  font-size: 18px;
  color: #000;
  font-weight: bolder;
}
.sub-title {
  font: 14px;
  font-weight: bold;
}
.text {
  color: #000;
  line-height: 1.5;
}
.feeds {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.close{
  position: absolute;
  top: 1rem;
  right: .5rem;
  width: 2rem;
  font-size: 2rem;
  border-radius: 5px;
}
.close:hover{
  background-color: blanchedalmond;
  cursor: pointer;
}
